 * {
    color: #fdfdfd !important;
    background-color: #202020 !important;
  }
  html{

  }
  .navbar {
    color: #fdfdfd !important;
    background-color: #202020 !important;
    box-shadow: 0px 10px 10px 0px rgba(157, 167, 255, 0.2);
  }
  span{
      background: #202020 ;
      color: #eeeeee !important;
  }

  * {
      border-color: #555555 !important
    }

  :link, :link * {
      color: #2864b9 !important
    }
  input, textarea {
      background-color: #333333 !important
    }
  a {
      background-color: rgba(255, 255, 255, 0.01) !important
    }
    h1,h2,h3,h4,h5,h6{
      color: #fdfdfd !important;
    background-color: #202020 !important;
    }
  :visited, :visited * {
      color: #2864b9 !important;
    }
  html, body, input, select, button {
      background-image: none !important;
    }
    
  
  video,img {
    background-color: transparent !important;
  }
  
  .ytp-chrome-controls{
    background: transparent !important;
  }